my-webapp/server/node_modules
my-webapp/client/venv
.DS_Store
.cursor
docs
*node_modules*
Assignment3.pdf
.github/workflows/ci-cd-local.yml
CanadaGoose/server/.env
key
github-actions-key/github-actions-key
CanadaGoose/server/coverage
*/**/coverage